<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Define log format -->
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger to use the console appender -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
